<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <title>Lista de usuarios</title>
</head>

<body>
    <h1>Lista de usuarios</h1>
    <table>
        <thead>
            <tr>
                <th>Nombre</th>
                <th>RFID</th>
            </tr>
        </thead>
        <tbody>
            {% for usuario in usuarios %}
            <tr>
                <td>{{ usuario['nombre'] }}</td>
                <td>{{ usuario['rfid'] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <br>
    <a href="/">Regresar al registro de usuarios</a>
</body>

</html>