{% extends 'base.html' %}

{% block head %}
<title>Configuración de la puerta</title>
{% endblock %}

{% block body %}
<div class="container">
    <h1 class="mt-5">Configuración actual</h1>
    <form action="{{ url_for('configuracion') }}" method="post">
        <div class="mb-3 form-check">
            <input type="checkbox" class="form-check-input" id="alarma" name="alarma" {% if conf.alarma %} checked {% endif %}>
            <label class="form-check-label" for="alarma">Alarma Activada</label>
        </div>
        <div class="mb-3">
            <label for="tiempoOpen" class="form-label">Tiempo de apertura de la puerta (s)</label>
            <input type="number" class="form-control" id="tiempoOpen" name="tiempoOpen" value="{{ conf.tiempoOpen }}">
        </div>
        <div class="mb-3">
            <label for="cardReadInterval" class="form-label">Tiempo de espera para leer otra tarjeta (s)</label>
            <input type="number" class="form-control" id="cardReadInterval" name="cardReadInterval" value="{{ conf.cardReadInterval }}">
        </div>
        <div class="mb-3 form-check">
            <input type="checkbox" class="form-check-input" id="isReadModeEnabled" name="isReadModeEnabled" {% if conf.isReadModeEnabled %} checked {% endif %}>
            <label class="form-check-label" for="isReadModeEnabled">Lectura de tarjetas</label>
        </div>
        <div class="mb-3">
            <label for="maxAttempts" class="form-label">Número máximo de intentos</label>
            <input type="number" class="form-control" id="maxAttempts" name="maxAttempts" value="{{ conf.maxAttempts }}">
        </div>
        <button type="submit" class="btn btn-primary">Modificar</button>
    </form>
</div>
{% endblock %}
